
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=yes">
  <!-- <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
	<style>
		body{
    		font-family: 'Lato';
			}
	</style> -->
	<link rel="stylesheet" type="text/css" href="../public/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <script src="../public/scripts/jquery-latest.min.js"></script>
    <script src="../public/scripts/jquery.validate.min.js"></script>
    <title>BrightIdeas</title>
</head>
<!--end header-->
<!-- new content-left for signUp.html -->
<body>
	<div class="container">

        <header class="header">
            <div class="item header_left">
                <h1>BrightIdeas</h1>
            </div>
            <div class="item header_right">
                <nav class="right">
                      <a href="../bin/www/signUp.html">Sign Up!</a> | <a href="../bin/www/FAQ.html">FAQ</a> | <a href="#">Support</a>
                </nav>
            </div>
        </header>
        <!--end header-->
        <div class="item content-left">
                   
            <div class="signUpContainer">
             <header>
                        <h3>Sign Up!</h3>
                   
                <form method="post" action="signUp">
                    <p>First Name: <span>a</span>  Last Name: <span>b</span>
                        <br>Address: <span>c</span>
                        <br>City: <span>d</span>
                        <br>State: <span>e</span>
                        <br>Zip: <span>f</span>
                        <br>E-mail address: <span>g</span>
                    </p>
                    <p>Have you ever paid for ideas? <span>h</span>Yes<span>h</span>No
                        <p>Where do you usually shop for ideas? <span>i</span>
                            <option> My own brain</option><option> Other people</option><option> The internet</option>
                        </select>
                        </p>
                        <p>Have you ever purchased ideas? <span>j</span>Yes<span>j</span>No
                        </p>
                        <p>How does using other peoples ideas compare to using/creating your own?
                            <br>
                            <span>k</span>
                        </p>
                        <p>
                            
                        </p>
                </form>
            </header>
            </div>
        </div>
        <!--end content-left for signUp.html-->

        <div class="item content-right">
            <img id="blinking_image" src="../public/images/brightIdea1.png" alt="an image of a lightbulb">
        </div>
        <footer class="footer">
        	<div class="item footer_left">
        		<div class="contact">
				<header>
					<b>Contact Us</b>
				</header>
				<p>BrightIdeas,</p>
				<p>66 Sixth Street</p>
				<p>Amherst, NY 12345</p>
				</div>
			</div>
			<div class="item footer_right">
				<div class="sitemap">
				<header>
					<b>Sitemap</b>
				</header>
				<ul>
					<li>
						<a href="../bin/www/index.html">Home</a>
					</li>
					<li>
						<a href="#">About Us</a>
					</li>
					<li>
						<a href="#">Privacy</a>
					</li>
					<li>
						<a href="#">Support</a>
					</li>
					<li>
						<a href="../bin/www/FAQ.html">FAQ</a>
					</li>
					<li>
						<a href="#">Careers</a>
					</li>
				</ul>
			
			</div>
			</div>
        </footer>
   </div>
    <script src="../public/scripts/app.js"></script>
  <script src="../public/scripts/app2.js"></script>
</body>

</html>
